<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
                <div class="nav-profile-image">
                    <img src="~/images/412481928_332070103042922_5467307113008439233_n.jpg" alt="profile" />
                </div>
                <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                    <span class="font-weight-semibold mb-1 mt-2 text-center">Riva Pide & Kebap</span>
                    <span class="text-secondary icon-sm text-center">Admin Paneli</span>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siteye Dön</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/About/Index">
                <i class="mdi mdi-information menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Booking/Index">
                <i class="mdi mdi-calendar menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Category/Index">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Kategori</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Discount/Index">
                <i class="mdi mdi-sale menu-icon"></i>
                <span class="menu-title">İndirimler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Gallery/Index">
                <i class="mdi mdi-image menu-icon"></i>
                <span class="menu-title">Resimler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Product/Index">
                <i class="mdi mdi-food menu-icon"></i>
                <span class="menu-title">Menü</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/MenuTables/Index">
                <i class="mdi mdi-table menu-icon"></i>
                <span class="menu-title">Masalar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/MenuTables/TableListByStatus">
                <i class="mdi mdi-bookmark-check"></i>
                <span class="menu-title">Masa Durum</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Notifications/Index">
                <i class="mdi mdi-bell menu-icon"></i>
                <span class="menu-title">Bildirimleri Gör</span>
            </a>
        </li>

      

        <li class="nav-item">
            <a class="nav-link" href="/QRCode/Index">
                <i class="mdi mdi-qrcode menu-icon"></i>
                <span class="menu-title">QR Oluştur</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Slider/Index">
                <i class="mdi mdi-pencil menu-icon"></i>
                <span class="menu-title">Ana Sayfa Düzenle</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Statistic/Index">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Testimonial/Index">
                <i class="mdi mdi-comment-text-outline menu-icon"></i>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/UserList/Index">
                <i class="mdi mdi-account-multiple"></i>
                <span class="menu-title">Kullanıcı Listesi
            </a>
        </li>
    </ul>
</nav>
