@model UpdateAboutDto

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Hakkımızda İşlemleri </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/About/Index/">Hakkımızda</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Hakkımızda Alanı Oluştur </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
             
                <form method="post" enctype="multipart/form-data" class="forms-sample">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımızda Yazı Güncelleme Sayfası</div>
                        </div>
                        <input type="hidden" asp-for="AboutID" />
                        <input type="hidden" asp-for="ImageUrl" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="NewImage">Yeni Resim Seç</label>
                                <input type="file" class="form-control-file" id="NewImage" name="NewImage" onchange="showFileName()">
                            </div>
                        
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklamayı Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="Description"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary">Hakkımda Yazısını Güncelle</button>
                            <a href="/About/Index/" class="btn btn-danger">Geri Git</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function showFileName() {
        var input = document.getElementById('NewImage');
        var output = document.getElementById('SelectedFileName');
        output.textContent = input.files[0].name;
    }
</script>