@model List<ResultProductDto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UIHeader")

<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @await Component.InvokeAsync("_UINvBar")

    <section class="site-section" id="section-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5 site-animate">
                    <h2 class="display-4">Delicious Menu</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">

                    <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
                        <li class="nav-item site-animate">
                            <a class="nav-link active" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">Breakfast</a>
                        </li>
                        <li class="nav-item site-animate">
                            <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Lunch</a>
                        </li>
                        <li class="nav-item site-animate">
                            <a class="nav-link" id="pills-dinner-tab" data-toggle="pill" href="#pills-dinner" role="tab" aria-controls="pills-dinner" aria-selected="false">Dinner</a>
                        </li>
                    </ul>

                    <div class="tab-content text-left">
                        <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
                            <div class="row">
                                <div class="col-md-6 site-animate">@foreach (var item in Model)
                                    {
                                        
                                    <div class="media menu-item">
                                        <img class="mr-3" src="~/eatwell-master/images/menu_1.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                                        <div class="media-body">
                                            <h5 class="mt-0">@item.ProductName</h5>
                                            <p>@item.Description</p>
                                                <a href="" class="btn btn-danger" onclick="showproductid(@item.ProductID)">@item.Price</a>
                                        </div>
                                    </div>
                                    }

                                    

                                    

                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>

                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_UIFooter")

    @await Component.InvokeAsync("_UIScript")
    <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function showproductid(value) {
            var id = value;
            $.ajax({
                type: 'POST',
                data: { item: id },
                url: "/Menu/AddBasket/" + id,
                dataType: 'json', // Doğru şekilde dataType kullanılmalı
                success: function () {
                    swal("Seçilen Ürün ID:" + id, "Seçtiğiniz Ürün Sepete Eklendi!", "success");
                }
            });
        };
    </script>


</body>

</html>