@model List<RivaWebUI.Dtos.ContactDtos.ResultContactDto>




<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
           
                <hr />
                <div class="container">
                    <h3 class="mb-4 text-center">Riva Pide & Kebap</h3>
                    <hr />
                    <p><strong style="color: black">Adres:</strong> Armutalan, İsmet İnönü Cd. No:3B, 48700, Marmaris/Muğla</p>
                    <p><strong style="color: black">Telefon:</strong> 0505-947-48-48</p>
                    <p><strong style="color: black">Saatler:</strong></p>
                    <ul class="list-unstyled">
                        <li>Pazartesi: <span class="text-danger">10:00–22:00</span></li>
                        <li>Salı: <span class="text-danger">10:00–22:00</span></li>
                        <li>Çarşamba: <span class="text-danger">10:00–22:00</span></li>
                        <li>Perşembe: <span class="text-danger">10:00–22:00</span></li>
                        <li>Cuma: <span class="text-danger">10:00–22:00</span></li>
                        <li>Cumartesi: <span class="text-danger">10:00–22:00</span></li>
                        <li>Pazar: <span class="text-danger">10:00–22:00</span></li>
                    </ul>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

