@{
    var currentYear = DateTime.Now.Year;
}
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 site-animate">
                        <h2 class="site-heading-2">Tadında gelenek, hizmette modern🔥</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, delectus blanditiis odit expedita amet. Sed labore ipsum vel dolore, quis, culpa et magni autem sequi facere eos tenetur, ex?</p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">RİVA PİDE & KEBAP</h2>
                            <ul class="list-unstyled">
                                <li><a href="#hakkimizda" class="py-2 d-block">Hakkımızda </a></li>
                                <li><a href="#Resimler" class="py-2 d-block">Resimler</a></li>
                                <li><a href="#indirimler" class="py-2 d-block">İndirimler</a></li>
                                <li><a href="#Menu" class="py-2 d-block">Menu</a></li>
                                <li><a href="#Yorumlar" class="py-2 d-block">Yorumlar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Hzılı Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a href="#hakkimizda" class="py-2 d-block">Hakkımızda </a></li>
                                <li><a href="#Resimler" class="py-2 d-block">Resimler</a></li>
                                <li><a href="#indirimler" class="py-2 d-block">İndirimler</a></li>
                                <li><a href="#Menu" class="py-2 d-block">Menu</a></li>
                                <li><a href="#Yorumlar" class="py-2 d-block">Yorumlar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Site Haritası</h2>
                            <ul class="list-unstyled">
                                <li><a href="#hakkimizda" class="py-2 d-block">Hakkımızda </a></li>
                                <li><a href="#Resimler" class="py-2 d-block">Resimler</a></li>
                                <li><a href="#indirimler" class="py-2 d-block">İndirimler</a></li>
                                <li><a href="#Menu" class="py-2 d-block">Menu</a></li>
                                <li><a href="#Yorumlar" class="py-2 d-block">Yorumlar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        

            <div class="col-md-12 text-center">
                <p>
                  Tüm hakları saklıdır  @currentYear |
         
                </p>
                <p style="color:white;">Bu site <a href="https://www.instagram.com/ikeremgenc/" target="_blank" style="color:red">Kerem Genc</a> tarafından yapılmıştır</p>
            </div>

        </div>
    </div>
</footer>