
<head>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class=" alert alert-success " role="alert" style="margin-bottom: 0;">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["DangerMessage"] != null)
    {
        <div class=" alert alert-danger " role="alert" style="margin-bottom: 0;">
            @TempData["DangerMessage"]
        </div>
    }
    <title>Riva Pide & Kebap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="~/eatwell-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/eatwell-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/eatwell-master/css/animate.css">

    <link rel="stylesheet" href="~/eatwell-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/eatwell-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/eatwell-master/css/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/eatwell-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/eatwell-master/css/jquery.timepicker.css">



    <link rel="stylesheet" href="~/eatwell-master/css/icomoon.css">
    <link rel="stylesheet" href="~/eatwell-master/css/style.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>

    $(document).ready(function () {

        if ($("#successMessage").length) {

            toastr.success($("#successMessage").text(), '', { timeOut: 4000 });
        }

        if ($("#dangerMessage").length) {

            toastr.error($("#dangerMessage").text(), '', { timeOut: 4000 });
        }
    });
</script>
